.card{
    border-radius: 10px;
    border: 1px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    width: 800px;
    padding: 20px 40px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.25);
}
.card-img{
    border: 1px solid transparent;
    border-radius: 50px;
    width: 100px;
    height: 75px;
    overflow: hidden;
}
.card-info{
    padding-left: 18px;
}